<form action="/memos/<%= params[:id] %>" method="post">
  <div>
    <label for="title" class="form-label">タイトル</label>
    <input type="text" id="title" name="title" value="<%= @memo["title"] %>" class="form-control">
  </div>
  <div>
    <label for="content" class="form-label">内容</label>
    <textarea id="content" name="content" class="form-control"><%= @memo["content"] %></textarea>
    <input type="hidden" name="_method" value="patch">
  </div>
  <div>
    <P><input type="submit" value="保存" class="btn btn--blue btn--radius--blue"></p>
  </div>
</form>
