<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title><%= @pagename %></title>
</head>
<body>
  <h1>メモアプリ</h1>
  <%= yield %>
</body>
</html>
