<form action="/memos" method="post">
  <div>
    <label for="title" class="form-label">タイトル</label><br>
    <input type="text" id="title" name="title" class="form-control"><br>
    <label for="content" class="form-label">内容</label><br>
    <textarea id="content" name="content" class="form-control"></textarea><br>
    <input type="submit" value="保存" class="btn btn--blue btn--radius--blue">
  </div>
</form>
